.left {
  float: left;
}

.right {
  float: right;
}

body {
  background-color: #050508;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 450px;

  background: black url('../images/DSC_8061b.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 1001px) {
  header {
    width: 1000px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  header {
    width: 100%;
  }
}

.signature {
  margin: 20px 0 0 10%;
  width: 135px;
  height: 45px;
}

.wrap {
  overflow: auto;
  margin: 0 auto;
}

.social_media {
  width: 80%;
  margin: 120px 10% 0 10%;
}

.social_media_link {
  width: 76px;
  height: 76px;
  background-color: #eee;
}

.social_media_link.left {
  margin-right: 5%;
}

.social_media_link.right {
  margin-left: 5%;
}
